@font-face {
  font-family: Gilroy;
  src: url('../fonts/Gilroy-Bold.eot');
  src: url('../fonts/Gilroy-Bold.eot') format('embedded-opentype'),
    url('../fonts/Gilroy-Bold.woff') format('woff'),
    url('../fonts/Gilroy-Bold.ttf') format('truetype');
}

img {
  max-width: 100%;
}
:root {
  /* colors  */

  --main-color: #268cf5;
  --second-color: #ccd5e0;
  --bgc: #0f1e2d;
  --second-bgc: #000c18;

  /* background image  */

  --wave-bg: url('../../img/bg.svg');

  /* spaces */

  --main-space: 15px;
  --height-unit: 40px;
}

.flex-container {
  min-width: 60%;
}

.button {
  background-color: gray;
  color: var(--second-bgc);
  font-weight: 700;
  padding: 10px 15px;
  border-radius: 50px;
  cursor: pointer;
  border: solid thin var(--main-color);
  margin: 0px 10px;
}

@media screen and (min-width: 1281px) {
  .flex-container {
    width: 60%;
  }
}

@media screen and (max-width: 1280px) {
  .flex-container {
    min-width: 741px;
    width: 90%;
  }
}

@media screen and (max-width: 740px) {
  .flex-container {
    min-width: 320px;
    width: 100%;
  }
}